gradle.properties
bin/
.gradle/
repos/
build/
.classpath
.project
.settings/
/repo/
*.log
src/test/resources/maven/
src/main/resources/data/
src/main/resources/maven/
src/main/resources/version.json
src/main/resources/install_profile.json
.idea/